// PROJECT VARIABLES

$bodyFont : sans-serif;
$bodyTextColor : #333333;
$bodyLinkColor : #496fba;
@import "../bower_components/rebase-reset-scss/rebase"; // Include custom reset (uses SASS variables above)

@import "../bower_components/susy/sass/susy"; // include Susy framework
// Susy defaults - http://susydocs.oddbird.net/en/latest/settings/#global-defaults
$susy: (
  gutter-position: inside,
  columns: 8,
  gutters: .25,
  global-box-sizing: border-box,
);

// PARTIALS - Include for each component or page

@import "global";			// common styles
@import "typography";		// reusable font styles

@import "demo"; 			// delete this 

