@import "../bower_components/normalize.css/normalize.css"; // https://github.com/necolas/normalize.css
@import "../bower_components/susy/sass/susy"; // include Susy framework


// VARIABLES

$bodyTextColor : #222;

// Susy defaults - http://susydocs.oddbird.net/en/latest/settings/#global-defaults
$susy: (
  gutter-position: inside,
  columns: 8,
  gutters: .25,
  global-box-sizing: border-box,
);

// PARTIALS - Include for each component or page

@import "global";			// common styles
@import "typography";		// reusable font styles

@import "demo"; 			// delete this 

